*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ------ HEADER ------ */

header {
    /* border: 2px solid aqua; */
    display: flex;
    height: 80px;
    max-height: 120px;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
}

header .underline:hover {
    font-weight: 600;
    color: darkslateblue;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.header-section-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-section-left-img-logo {
    display: inline;

}

.header-sectio-left-info {
    display: inline-block;
}

header li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.header-section-right {
    margin-right: 5px;
}

.header-section-right span {
    background-color: rgba(0,97,255,255);
    padding: 8px 3px ;
    color: white;
}

/* ------ MAIN ------ */

/* ------ main first section ------ */

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-first-container {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 750px;
    width: 100%;
    max-width: 2500px;
    background-color: rgba(180,208,231,255);
}

.main-first-container-section {
    /* border: 2px solid darkred; */
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    max-width: 1500px;
    min-width: 590px;
    height: 650px;
}

.main-first-container-section-title {
    /* border: 2px solid violet; */
    width: 100%;
    height: 30%;
    max-height: 200px;
    min-height: 150px;
}

.main-first-container-section-title > h1 {
    font-weight: 800;
    font-size: 75px;
}

.main-first-conteiner-section-paragraph {
    /* border: 2px solid salmon; */
    height: 70%;
    width: 30%;
    padding-top: 65px;
}

.main-first-conteiner-section-paragraph > p {
    padding-bottom: 60px;
}

.main-first-conteiner-section-paragraph > a {
    background-color: rgba(0,97,255,255);
    color: white;
    padding: 15px;
    border-radius: 1px;
    text-decoration: none;
}

.main-first-conteiner-section-paragraph i {
    font-size: 3rem;
}

#unsubscribe-trial {
    margin-top: 50px;
}

.main-first-conteiner-section-img {
    /* border: 2px solid greenyellow; */
    height: 70%;
    width: 70%;
    padding-top: 65px;
}

.main-first-conteiner-section-img > img {
    width: 100%;
}

/* ------ main second section ------ */

.main-second-container {
    /* border: 3px solid brown; */
    display: flex;
    justify-content: center;
    height: 1650px;
    width: 100%;
    max-width: 2500px;
}

.main-second-container-section {
    /* border: 3px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    width: 52%;
    max-width: 1000px;
    min-width: 750px;
    margin-top: 160px;
}

.main-second-container-section-title {
    /* border: 2px solid lightseagreen; */
    font-size: 23px;
    height: 12%;
}

.main-second-container-section-title > h1 {
    padding-bottom: 60px;
}

input[type='radio']{
    width: 15px;
    height: 15px;
}

label {
    font-size: medium;
    padding-right: 40px;
}

.main-second-contaienr-section-plans {
    /* border: 3px solid green; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 62%;
    max-width: 1100px;
    min-width: 600px;
    margin-top: 35px;
}

.subscription-area {
    border:1px solid gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30%;
    height: 100%;
    min-width: 30%;
}

.plan-type {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 100%;
    height: 4%;
    font-size: 14px;
}

.fa-solid {
    padding-right: 5px;
}

.plan-type-info {
    /* border: 2px solid blue; */
    width: 87%;
    height: 92%;
}

.plan-type-info > h1 {
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.plan-price {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.plan-renew {
    font-size: 15px;
    font-weight: 400;
    color: gray;
    margin-bottom: 45px;
}

.plan-user-number, .plan-user-storage, .plan-user-function {
    font-size: 14px;
    margin-bottom: 22px;
}

.free-trial-contactus{
    display: flex;
    justify-content: center;
    background-color: rgba(0,97,255,255);
    padding: 10px 20px;
    border-radius: 1px;
    margin-bottom: 25px;
}


.trial-contactus {
    color: white;
    font-size: 13px;
}
 .acquista-ora{
    text-decoration: underline;
    color: rgba(153,153,248,255);
    font-weight: 500;
}

.plan-type-info > h3 {
    font-size: 14px;
    padding-top: 90px;
    padding-bottom: 30px;
}

.subscription-area li {
    list-style-position: outside;
    list-style-type: none;
    font-size: 15px;
    padding-bottom: 20px;
    font-weight: 400;
}

li >  i {
    color: rgba(55,138,255,255);
}

.main-second-container-section-bottom {
    border: 1px solid gray;
    width: 100%;
    height: 20%;
    margin-top: 40px;
}


.subscription-area-team2 {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 100%;
    height: 15%;
    font-size: 14px;
}

.main-second-container-section-bottom-info {
    /* border: 2px solid darkgoldenrod; */
    width: 100%;
    height: 85%;
    padding: 35px 30px;
    position: relative;
}

.main-second-container-section-bottom-info > h2 {
    margin-bottom: 15px;
}

.LOL {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 70px;
}

.LOL2 {
    font-weight: 500;
}

.main-second-container-section-bottom-info > span {
    position: absolute;
    background-color: rgba(0,97,255,255);
    color: white;
    right: 30px;
    top: 25px;
    padding: 14px 20px;
}

/* ------ main third section ------ */

.main-third-container {
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    height: 650px;
    width: 100%;
    max-width: 2500px;
}

.main-third-section-container {
    /* border: 3px solid black; */
    display: flex;
    width: 52%;
    max-width: 1000px;
    min-width: 750px;
    margin-top: 100px;
}

.main-third-section-img {
    /* border: 3px solid gold; */
    width: 55%;
    height: 100%;
    background: url(img/partner.png);
    background-size: cover;
}

.main-third-section-text {
    /* border: 3px solid violet; */
    width: 45%;
    padding: 70px 45px;
}

.main-third-section-text > h2 {
    margin-bottom: 25px;
}

.main-third-section-text > p {
    font-weight: 500;
    margin-bottom: 50px;
}

.main-third-section-text > span {
    /* border: 2px solid gray; */
    padding: 13px;
    font-size: 15px;
}

/* ------ main fourth section ------ */

.main-fourth-container {
    /* border: 4px solid gold; */
    display: flex;
    justify-content: center;
    height: 1300px;
    width: 100%;
    max-width: 2500px;
}

.main-fourth-container-section {
    /* border: 2px solid black; */
    width: 52%;
    max-width: 1000px;
    min-width: 750px;
    margin-top: 200px;
}
.main-fourth-container-section-title {
    /* border: 2px solid saddlebrown; */
    height: 5%;
    width: 100%;
}

.main-fourth-container-section-title > h1 {
    padding-left: 15px;
    font-size: 35px;
}

.main-fourth-container-section-pic {
    /* border: 2px solid lawngreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 95%;
}

.main-fourth-container-section-pic > div {
    /* border: 2px solid saddlebrown; */
    width: calc(90% / 3);
    height: 45%;
}

.pic1 {
    /* border: 3px solid red; */
    background: url(img/business-feature-switching-tools.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.pic2 {
    /* border: 3px solid red; */
    background: url(img/business-feature-send-files-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.pic3 {
    /* border: 3px solid red; */
    background: url(img/business-feature-coordinate-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.pic4 {
    /* border: 3px solid red; */
    background: url(img/business-feature-integrations-it.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.pic5 {
    /* border: 3px solid red; */
    background: url(img/business-feature-multi-device.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.pic6 {
    /* border: 3px solid red; */
    background: url(img/business-feature-security.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
}

.text1 > h2 {
    /* border: 2px solid purple; */
    margin-bottom: 30px;
}

/* -------- main fifth container ------ */

.main-fifth-container {
    /* border: 4px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    max-width: 2500px;
    padding: 100px 0 100px 0;

}

.main-fifth-container-text {
    width: 30%;
    margin-right: 400px;
}

.main-fifth-container-text > h1 {
    margin-bottom: 40px;
}

.main-fifth-container-text > a {
    color: rgba(0,97,255,255);
    text-decoration: underline;
}

/* -------- main sixth section -------- */

.main-sixth-container  {
    /* border: 2px solid purple; */
    display: flex;
    height: 650px;
    max-height: 650px;
    width: 100%;
    max-width: 2500px;
}

.sponsor{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
}

/* .main-sixth-container-section-left {border: 2px solid blue;} */

.main-sixth-container-section-center {
    /* border: 3px solid greenyellow; */
    display: flex;
    flex-direction: column;
    background-color: rgba(245,245,245,255);
    padding: 50px;
}

.center-img {
    /* border: 2px solid blue; */
    width: 450px;
    height: 100px;
    margin-bottom: 70px;
}

.center-img > img {
    /* border: 2px solid tomato; */
    width: 55%;
}

.main-sixth-container-section-center p {
    padding-bottom: 70px;
}

/* .main-sixth-container-section-right { border: 2px solid yellow;} */

.square-img {
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.square-img > img {
    width: 50%;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(324deg) brightness(101%) contrast(102%);
}

.square1 {border: 15px solid rgba(209,233,205,255);
         background-color: rgba(162,211,155,255);}
.square2 {background-color: rgba(97,8,43,255);}
.square3 {background-color: rgba(0,147,206,255);}
.square4 {background-color: rgba(255,28,28,255);}
.square5 {background-color: rgba(213,0,31,255);}
.square6 {background-color: rgba(180,208,231,255);}
.square7 {background-color: rgba(13,36,129,255);}
.square8 {background-color: rgba(255,216,48,255);}

/* -------- main seventh section -------- */

.main-seventh-container {
    /* border: 3px solid sandybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(180,208,231,255);
    width: 100%;
    height: 400px;
    max-width: 2500px;
}

.main-seventh-container-section {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 52%;
    height: 200px;
    max-width: 1000px;
}

.main-seventh-section-left {
    color: rgba(97,8,43,255);
    width: 50%;
}

.main-seventh-section-right {
    color: black;
    background-color: white;
    padding: 15px 60px;
    border-radius: 1px;
}

/* ------ footer first section ------ */

.footer-first-container {
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    padding: 30px 0;
}

.footer-container-section {
    /* border: 3px solid green; */
    width: 52%;
    height: 70%;
}

.footer-container-section  h1 {
    padding-bottom: 50px;
}

.question {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    font-weight: 700;
}

.question > i {
    padding-right: 40px;
}

/* ------ footer second section ------ */

.footer-second-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 600px;
}

.footer-second-container-section {
    /* border: 2px solid lightcyan ; */
    color: white;
    height: 90%;
    width: 65%;
    padding-top: 50px;
}

.footer-second-section-top {
    /* border: 2px solid firebrick; */
    display: flex;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
}

.footer-second-section-info {
    /* border: 2px solid yellow; */
    width: calc(100% / 5);
    height: 100%;
}

.footer-second-section-info > h2 {
    padding-bottom: 35px;
}

.footer-second-section-info li {
    list-style-position: outside;
    list-style-type: none;
    padding: 10px 0;
}

.footer-second-section-info a {
    color: white;
    font-weight: 400;
}

.footer-second-section-bottom {
    /* border: 2px solid springgreen; */
    display: flex;
    align-items: center;
    height: 20%;
    padding: 10px 0;
    /* border-top: 1px lightgray; */
}

.footer-second-section-bottom a {
    color: lightgray;
}
