*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* --- HEADER --- */
header {
    border: 2px solid aqua;
    display: flex;
    height: 80px;
    max-height: 120px;
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
}

header .underline:hover {
    font-weight: 600;
    color: darkslateblue;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

.header-section-left {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-section-left-img-logo {
    display: inline;

}

.header-sectio-left-info {
    display: inline-block;
}

li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

.header-section-right {
    margin-right: 5px;
}

.header-section-right span {
    background-color: rgba(0,97,255,255);
    padding: 8px 3px ;
    color: white;
}

/* --- MAIN --- */
/* -- first section -- */
main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-first-container {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 750px;
    width: 100%;
    max-width: 2500px;
    background-color: rgba(180,208,231,255);
}

.main-first-container-section {
    border: 2px solid darkred;
    display: flex;
    flex-wrap: wrap;
    width: 62%;
    max-width: 1500px;
    min-width: 590px;
    height: 650px;
}

.main-first-container-section-title {
    border: 2px solid violet;
    width: 100%;
    height: 30%;
    max-height: 200px;
    min-height: 150px;
}

.main-first-container-section-title > h1 {
    font-weight: 800;
    font-size: 75px;
}

.main-first-conteiner-section-paragraph {
    border: 2px solid salmon;
    height: 70%;
    width: 30%;
    padding-top: 65px;
}

.main-first-conteiner-section-paragraph > p {
    padding-bottom: 60px;
}

.main-first-conteiner-section-paragraph > a {
    background-color: rgba(0,97,255,255);
    color: white;
    padding: 15px;
    border-radius: 1px;
    text-decoration: none;
}

.main-first-conteiner-section-paragraph i {
    font-size: 3rem;
}

#unsubscribe-trial {
    margin-top: 50px;
}

.main-first-conteiner-section-img {
    border: 2px solid greenyellow;
    height: 70%;
    width: 70%;
    padding-top: 65px;
}

.main-first-conteiner-section-img > img {
    width: 100%;
}

/* -- second section -- */
.main-second-container {
    border: 3px solid brown;
    display: flex;
    justify-content: center;
    height: 1650px;
    width: 100%;
    max-width: 2500px;
}

.main-second-container-section {
    border: 3px solid yellow;
    width: 52%;
    max-width: 1100px;
    min-width: 530px;
    margin-top: 160px;
}

.main-second-container-section-title {
    border: 2px solid lightseagreen;
    font-size: 23px;
    height: 12%;
}

.main-second-container-section-title > h1 {
    padding-bottom: 60px;
}

input[type='radio']{
    width: 15px;
    height: 15px;
}

label {
    font-size: medium;
    padding-right: 40px;
}

.main-second-contaienr-section-plans {
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    max-width: 1100px;
    min-width: 530px;
    margin-top: 40px;
}

.subscription-area {
    border: 2px solid firebrick;
    width: 30%;
    height: 100%;
}

.plan-type {
    border: 2px solid palevioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 100%;
    height: 4%;
    font-size: 14px;
}

.fa-solid {
    padding-right: 5px;
}

